<footer>
  <div class="container-fluid">
    <div class="container">
      <div class="footbar">
        <div class="row">
          <div class="col-4">
            <img src="../../../assets/img/Група 1.png" alt="" />
          </div>
          <div class="col-8">
            <ul>
              <li>home</li>
              <li>about us</li>
              <li>order now</li>
              <li>disclaimer</li>
              <li>why us</li>
              <li>contacts</li>
              <li>blog</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="sctions">
        <div class="snumber">
          <div class="snum">Section number1</div>
          <p>
            But I must explain to you how Mistaken idea of denouncing Praising
            pain was born Account of the system Great explorer of the truth No
            one rejects, dislikes Mistaken idea of denouncing Praising pain was
            born
          </p>
        </div>
        <div class="snumber">
          <div class="snum">Section number1</div>
          <p>
            But I must explain to you how Mistaken idea of denouncing Praising
            pain was born Account of the system Great explorer of the truth No
            one rejects, dislikes Mistaken idea of denouncing Praising pain was
            born
          </p>
        </div>
        <div class="snumber">
          <div class="snum">Section number1</div>
          <p>
            But I must explain to you how Mistaken idea of denouncing Praising
            pain was born Account of the system Great explorer of the truth No
            one rejects, dislikes Mistaken idea of denouncing Praising pain was
            born
          </p>
        </div>
        <div class="snumber">
          <div class="snum">Section number1</div>
          <p>
            But I must explain to you how Mistaken idea of denouncing Praising
            pain was born Account of the system Great explorer of the truth No
            one rejects, dislikes Mistaken idea of denouncing Praising pain was
            born
          </p>
        </div>
      </div>
      <div class="lrow">
        <div class="lrow-containers">
          <span
            >Copyright В© 2017 BlueEssaySite.net <br />
            All rights reserved.</span
          >
        </div>
        <div class="lrow-containers lwidth marsocials">
            
            <img src="../../../assets/img/social.png" alt="">
        </div>
        <div class="lrow-containers  lwidth marphone">
          <div class="lcont">
            <img src="../../../assets/img/phone_footer.png" alt="" width="32px" height="32px"/>
            <div class="footer-toll-email">
              <span>Toll free:</span> <br />
              <span class="stel">+ 3 044 111 2732</span>
            </div>
          </div>
        </div>
        <div class="lrow-containers  lwidth last">
          <div class="lcont">
            <img src="../../../assets/img/email-footer.png" alt="" width="32px" height="32px"/>
            <div class="footer-toll-email">
              <span>Email:</span> <br />
              <span class="semail">blueessaysite@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
