<header>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="../../../assets/img/Група 1.png" alt="img" />
        </div>
        <div class="col-8">
          <nav>
            <div class="services arrow-down">services<img src="../../../assets/img/down-arrow-svgrepo-com.svg" alt="" class="icon"></div>
            <div class="about-us arrow-down">about us<img src="../../../assets/img/down-arrow-svgrepo-com.svg" alt="" class="icon"></div>
            <div class="how-it-works">how it works</div>
            <img src="../../../assets/img/phone_icon.png" alt="img" />
            <div class="links sign--in">sign in</div>
            <div class="links order">order</div>
            <img src="../../../assets/img/burger.png" alt="">
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
