<section class="sldr15">
  <div class="container-fluid">
    <div class="container">
      <h1>
        <span>BlueEssaySite.net -</span> <br />
        expert help for custom Written
      </h1>
      <p>
        On the other hand, we denounce with righteous indig-nation and dislike
        men who are so beguiled and de-moralized
      </p>
      <div class="place-order">Place and order</div>
      <img src="../../../assets/img/img_girl.png" alt="" class="girl" />
      <img src="../../../assets/img/shadow.png" alt="" class="girl-shadow" />
      <div class="continue">
        <div class="conts">
          <span>Type of paper</span>
          <select name="Placeholder text" id="">
            <option value="" disabled selected class="gr">
              Placeholder text
            </option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </div>
        <div class="conts">
          <span>Writer level</span>
          <select name="Placeholder text" id="">
            <option value="" disabled selected class="gr">High School</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </div>
        <div class="conts">
          <span>Urgency</span>
          <select name="Placeholder text" id="">
            <option value="" disabled selected class="gr">21 days</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </div>
        <div class="conts">
          <span>Number of pages</span>
          <div class="cont-btn">
            <button class="btn1">-</button>
            
              <input type="number" class="btn-inc-dec">
            
            <button class="btn2">+</button>
          </div>
        </div>
        <div class="conts">Continue</div>
      </div>
    </div>
  </div>
</section>
