<section class="Howrk6">
  <div class="container-fluid">
    <div class="container">
      <span>02 Our advantages</span>
      <h3>Advantages of Our Writings Services</h3>
      <div class="steps">
        <div class="step step-after1">
          <img src="../../../assets/img/step1.png" alt="" />
          <h4>STEP 1</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
            praesentium consequuntur magni tempora sequi magnam ipsa error
            consequatur quod! Eveniet.
          </p>
        </div>
        <div class="step step-after2">
          <img src="../../../assets/img/step3.png" alt="" />
          <h4>STEP 2</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
            praesentium consequuntur magni tempora sequi magnam ipsa error
            consequatur quod! Eveniet.
          </p>
        </div>
        <div class="step step-after3">
          <img src="../../../assets/img/step2.png" alt="" />
          <h4>STEP 3</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
            praesentium consequuntur magni tempora sequi magnam ipsa error
            consequatur quod! Eveniet.
          </p>
        </div>
        <div class="step">
          <img src="../../../assets/img/step4.png" alt="" />
          <h4>STEP 4</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
            praesentium consequuntur magni tempora sequi magnam ipsa error
            consequatur quod! Eveniet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
