<section class="disc7">
  <div class="container-fluid">
    <div class="container">
      <span>04 Discounts</span>
      <h3>Our Discount Program</h3>
      <p class="p-disc7">
        By utilizing elements and principles of Material Design, we were <br />
        able to create a framework that incorporates
      </p>
      <div class="discounts">
        <div class="offs">
          <div class="discount dtop">
            <span
              >4% <br />
              OFF</span
            >
            <span>for more than</span>
            <span>15 pages</span>
          </div>
          <div class="discount dtop">
            <span
              >4% <br />
              OFF</span
            >
            <span>for more than</span>
            <span>15 pages</span>
          </div>
          <div class="discount">
            <span
              >4% <br />
              OFF</span
            >
            <span>for more than</span>
            <span>15 pages</span>
          </div>
          <div class="discount">
            <span
              >4% <br />
              OFF</span
            >
            <span>for more than</span>
            <span>15 pages</span>
          </div>
        </div>
        <div class="off-15">
          <div class="off-15-inside">
            <span
              >TRY OUR SERVICE & <br />
              GET HUGE DISCOUNTS</span
            >
            <div class="get-off">
              <img src="../../../assets/img/scissors.png" alt="">
              <span>get</span> <br  />
              <span class="d15-off" style="display: block"
                >15% <br />
                OFF</span
              >
              <br />
              <span class="s1storder">for your 1st order</span> <br />
              
            </div>
            <span>Use discount15 as discount code</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
