<section class="Adv3">
  <div class="container-fluid">
    <div class="container">
      <span>02 Our advantages</span>
      <h3>Advantages of Our Writings Services</h3>
      <div class="blocks">
        <div class="block">
          <img src="../../../assets/img/p1.png" alt="" />
          <h4>Professionally-qualified writing experts</h4>
          <p>
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born
          </p>
        </div>
        <div class="block blockC">
          <img src="../../../assets/img/p2.png" alt="" />
          <h4>Professionally-qualified writing experts</h4>
          <p>
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born
          </p>
        </div>
        <div class="block">
          <img src="../../../assets/img/p3.png" alt="" />
          <h4>Professionally-qualified writing experts</h4>
          <p>
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born
          </p>
        </div>
      </div>
      <div class="place-an-order">Place an order</div>
    </div>
  </div>
</section>
