<section class="ClientsSay">
  <div class="container-fluid">
    <div class="container">
      <span>05 Testimonials</span>
      <h3>What our clients says</h3>
      <div class="slider">
        <img src="../../../assets/img/left.png" alt="" width="32px" height="67px"/>
        <div class="review">
          <img src="../../../assets/img/litso.png" alt="" width="64px" height="64px" />
          <p>
            Using BestEssayService.net was possibly the best choice of my
            academic career. Even though I work full-time, I managed to submit
            all my assignments on time owing to the broad array of services on
            offer. No matter what written work I needed, help was available. I
            would give a full ten marks.
          </p>
          <span class="lorna">Lorna Grey</span>
          <span class="apr">20 apr 2016 at 8:23</span>
        </div>
        <img src="../../../assets/img/right.png" alt="" width="32px" height="67px"/>
      </div>
    </div>
  </div>
</section>
